<div class="input_msg_write">
  <input type="text" id="personal_message_body" class="write_msg" data-conversation-id=<%= conversation.id %> placeholder="Type a message2"/>
  <button class="msg_send_btn" id="new_personal_message" type="button">
    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
  </button>
</div>
