@import "bootstrap";
@import "toastr";
@import "dropzone/dropzone";

body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  height: 77px;
}

.core-sprite {
  background-image: image-url("core-sprite-2x.png");
  background-size: 405px 379px;
  background-repeat: no-repeat;
}

// .core-sprite-sdemian {
//   background-image: image-url("core-sprite-sdemian.png");
//   background-size: 405px 379px;
//   background-repeat: no-repeat;
// }

.navbar-brand {
  background-position: -176px 0;
  height: 35px;
  width: 176px;
}

// .navbar-brand-sdemian {
//   color: black;
// }

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  font-size: 0;
}

.explore-icon {
  background-position: -50px -355px;
  height: 24px;
  width: 24px;
}

.notification-icon {
  background-position: -353px -298px;
  height: 24px;
  width: 24px;
}

.profile-icon {
  background-position: -308px -176px;
  height: 24px;
  width: 24px;
}

.nav-item:not(:first-child) {
  margin-left: 30px;
}

.box {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  padding: 10px 0;
  margin: 0 0 10px;
}

.brand-name-img {
  background-position: 0 0;
  height: 51px;
  width: 175px;
}
// Landing
.landing-left {
  .dummy-phone {
    background-image: image-url("dummy-phone-2x.png");
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: 454px 618px;
    position: relative;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;
  }

  .screen-shot {
    position: absolute;
    top: 99px;
    right: 63px;

    .item {
      position: absolute;
    }
  }
}

.landing-right {
  .form-login {
    width: 350px;

    form {
      padding: 0 40px;

      .btn-primary {
        width: 100%;
        line-height: 14px;
        font-size: 14px;
        font-weight: 600;
      }

      input {
        border: 1px solid #efefef;
      }

      .form-check-label {
        padding: 0;
        font-size: 15px;
        color: #262626;
      }
    }

    .brand-name-img {
      margin: 22px auto 8px;
    }
  }

  .redirect-links {
    width: 350px;
  }
}

footer .nav-item {
  color: #003569 !important;
  font-size: 12px;
  font-weight: bold;
}

.light-color {
  color: #999;
}

.carousel-fade {
  .carousel-item.active {
    opacity: 1;
    display: block;
  }

  .carousel-item {
    transition: opacity 0.6s ease-in-out;
    opacity: 0;
    position: relative;
    display: block;
  }

  .carousel-item:not(.active) {
    position: absolute;
    top: 0;
  }
}

.profile-wrapper {
  padding: 60px 0;
  border-bottom: 1px solid #efefef;

  .bio {
    color: #8e8e8e;
  }

  .username {
    font-size: 32px;
    line-height: 40px;
    font-weight: 200;
  }

  .email {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .posts {
    font-size: 16px;
    margin-right: 40px;
    margin-bottom: 1rem;
  }

  .posts-count {
    font-weight: bold;
  }

  .followers {
    font-size: 16px;
    margin-right: 40px;
    margin-bottom: 1rem;
  }

  .followers-count {
    font-weight: bold;
  }

  .following {
    font-size: 16px;
    margin-right: 40px;
    margin-bottom: 1rem;
  }

  .following-count {
    font-weight: bold;
  }
}

.round-img {
  border-radius: 50%;
}

.common-btn {
  height: 28px;
  line-height: 24px;
  padding: 0 24px;
  border-color: #dbdbdb;
  font-size: 14px;
}

.edit-profile-btn {
  margin: 8px 0 0 15px;
  font-weight: bold;
}

.send-message-btn {
  margin: 8px 0 0 15px;
  font-weight: bold;
}

.setting {
  margin: 8px 0 0 10px;
  background-color: transparent;
  background-position: -125px -355px;
  height: 24px;
  width: 24px;
  border: none;
}

.setting:hover {
  cursor: pointer;
}

.edit-profile-wrapper {
  margin: 60px 0 0;

  .left-col {
    border: 1px solid #dbdbdb;
    padding: 0;
    background-color: white;

    .list-group-item {
      border: none;
      color: #262626;
      border-radius: 0;
      font-size: 16px;
      border-left: 2px solid transparent;
    }

    .list-group-item:first-child {
      font-weight: bold;
      border-left-color: #262626;
    }

    .list-group-item:not(:first-child):hover {
      border-left-color: #dbdbdb;
    }
  }

  .right-col {
    border: 1px solid #dbdbdb;
    border-left: none;
    background-color: white;

    .username-img {
      margin: 32px 0;

      .col-sm-9 {
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .form-group {
      font-size: 16px;
    }
  }
}

.post-author-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
// Customize upload photos form
.upload-photos-icon:hover {
  cursor: pointer;
}

.dz-preview.dz-image-preview {
  margin: 2px;
}

.dz-image {
  border-radius: 0 !important;

  img {
    width: 100%;
  }
}

.dz-remove {
  @extend .core-sprite;
  @extend .hide-text;
  position: absolute;
  top: 9px;
  right: 5px;
  z-index: 20;
  width: 18px;
  height: 18px;
  background-position: -386px -25px;
  opacity: 0;
  -webkit-transition: opacity 0.2s liner;
  transition: opacity 0.2s liner;
}

.dropzone .dz-preview:hover .dz-remove {
  opacity: 1;
}

.upload-photos-icon {
  height: 120px;
  width: 120px;
  border: 2px dashed #dddfe2;
  border-radius: 2px;
  padding: 48px;
  display: inline-block;
  margin: 2px;
}

.no-text-decoration:hover {
  text-decoration: none;
  color: #262626;
}

.normal-color {
  color: #262626;
}
// Customize post views
.post {
  .card-header {
    background-color: white;
  }

  .card-body {
    padding: 5px 16px;
  }

  .actions {
    margin: 12px 0;
  }

  .post-time {
    margin-top: 5px;
    font-size: 10px;
  }

  .comment-input {
    font-size: 14px;
    resize: none;
  }

  .previous-btn {
    background-position: -281px -280px;
    height: 30px;
    opacity: 1;
    width: 30px;
  }

  .next-btn {
    background-position: -353px 0;
    height: 30px;
    opacity: 1;
    width: 30px;
  }
}

.love {
  background-position: -325px -329px;
  height: 24px;
  width: 24px;
}

.loved {
  @extend .love;
  background-position: -200px -330px;
}

.comment {
  @extend .love;
  background-position: -258px -175px;
  margin-left: 8px;
}

.bookmark {
  @extend .love;
  background-position: -150px -355px;
}

.bookmarked {
  @extend .love;
  background-position: -353px -273px;
}

.comment-list {
  height: 310px;
  overflow: auto;
}

.post-show-img {
  background-color: #fafafa;
  margin: -10px 0;
}

.delete-post-icon {
  color: #262626;
  font-size: 20px;
}

.delete-comment {
  width: 11px;
  height: 11px;
  background-position: -216px -112px;
  float: right;
  margin: 5px 0 0 10px;
}

.profile-tab {
  margin-top: 60px;

  .nav-tabs {
    border: 0;
    border-top: 1px solid #ddd;

    .nav-item {
      border-radius: 0;
      border: 0;
      border-top: 1px solid transparent;
      margin-top: -1px;
      padding: 10px 0;
      background: transparent;
      font-weight: bold;
      color: #999;
    }

    .nav-item.active {
      color: #262626;
      border-top: 1px solid #262626;
    }
  }

  .post-stat {
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 0;
    opacity: 0;
  }

  .col-4:hover .post-stat {
    background-color: rgba(0,0,0,.3);
    opacity: 1;
  }

  .image-preview {
    margin-bottom: 30px;
  }
}

.search-result-item {
  padding: 15px;
}

.search-result-item:hover {
  background-color: #fafafa;
}

.popover {
  border-radius: 0;
}

.popover-body {
  background: #fff;
  padding: 0;
}

.follow-user-btn {
  margin: 8px 0 0 15px;
  font-weight: bold;
  border: 1px solid #66bd2b;
  background-color: #66bd2b;
  color: white;

  &:focus,
  &:hover,
  &:visited {
    border-color: #47821f;
    background-color: #47821f;
    color: white;
  }
}

.unfollow-user-btn {
  margin: 8px 0 0 15px;
  font-weight: bold;
  border: 1px solid #ed4956;
  background-color: #ed4956;
  color: white;

  &:focus,
  &:hover,
  &:visited {
    border-color: #b32d37;
    background-color: #b32d37;
    color: white;
  }
}

.container {
  max-width: 1170px;
  margin: auto;
}

img {
  max-width: 100%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
  padding: 0;
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}

.chat_img {
  float: left;
  width: 11%;

  .icon_container {
    width: 50px;
    height: 50px;
    position: relative;
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  .status_circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid white;
    bottom: 0;
    right: 0;
    position: absolute;
    &.online {
      background-color: green;
    }
  }
}

.chat_ib {
  float: left;
  padding: 0 0 0 25px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.outgoing_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: 57%;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0;
}

.sent_msg {
  float: right;
  width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: 0 0 50px;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
  padding: 15px;
}


#notification {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #fff;
  .close {cursor: pointer}
}

.online_status {
  color: red;
  font-weight: normal;
  transition: color 1s ease;
  transition: font-weight 1s ease;
  &.online {
    color: green;
    font-weight: bold;
  }
}
